.browser * {
  display: block;
  position: relative;
}
.device *:hover {
  resize: both;
}
.device *[hovered]>.debuger {
  background: #8854d020;
  border-color: #8854d0;
}
.device *[selected]>.debuger {
  background: #ff634720;
  border-color: #ff6347;
}
.container {
  display: flex;
  min-width: 20px;
  min-height: 20px;
  justify-content: center;
  align-items: center;
}
.container *{
 flex: 1 1 auto;
}
.debuger {
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: dashed transparent;
  zoom: 1;
  pointer-events: none;
}
