@import url(Ario-UI/build/ario-ui-minify.css);
@import url(viewport.css);
@import url(toolbar.css);
@import url(browser.css);
@import url(device.css);
@import url(application.css);
@import url(property.css);

body {
  margin: 0;
  padding: 0;

  height: 100vh;
}
*:not(.device *) {
  font-family: system-ui;
  font-size: small;
  box-sizing: border-box;
  user-select: none;
}

input:not(.device *),
select:not(.device *),
button:not(.device *)
{
  background: #0001;
  border-radius: 4px;
  padding: 4px;
  outline: none;
  border: none;
}
