@import url(screen-toolbar.css);
.toolbar-plate{
  background: #fff;
  box-shadow: #0004 0px 0px 15px;
  padding: 8px;
  gap: 8px;
  margin: 12px;
  border-radius: 8px;
  display: flex;
}
.toolbar-button{
  cursor: pointer;
}
.toolbar-button * {
  pointer-events: none;
}
.toolbar-plate input.screen-zoom {
  width: 50px;
}